<p id="notice"><%= notice %></p>

<h1>Cicles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cicles.each do |cicle| %>
      <tr>
        <td><%= cicle.name %></td>
        <td><%= link_to 'Show', cicle %></td>
        <td><%= link_to 'Edit', edit_cicle_path(cicle) %></td>
        <td><%= link_to 'Destroy', cicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cicle', new_cicle_path %>
