<%= form_for([@cicle, @stage]) do |form| %>
  <% if @stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage.errors.count, "error") %> prohibited this stage from being saved:</h2>

      <ul>
      <% @stage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
  <div class=" col-sm-10 ">
    <%= form.select(:name, options_for_select(@months), class: "form-control") %>
  </div>

  <div class="col-sm-2">
    <%= form.submit "crear", class: "btn btn-success" %>
  </div>
  </div>

<% end %>
