<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modalforma"> 
<div class="modal-dialog modal-sm">
<div class="modal-content">
<div class="card border-success">
<div class="modal-header">
<h3 class="">Nuevo producto</h3>
<button class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="card-body ">
    <h1 class="display-1">Producto</h1>
    <div class="row">
      <div class="col">
      <%= form_tag "/products/", method: :post do |form| %>

        <div class="form-group">
          <%= label_tag :nombre %> <br>
          <%= select_tag :name, options_from_collection_for_select(@sales, "name", "name"), class: "form-control" %>
        </div>

        <div class="field">
          <%= label_tag :cantidad %>
          <%= number_field_tag :quantity, class: "form-control" %>
        </div>

        <div class="field">
          <%= label_tag :month %>
          <%= number_field_tag :month_id, class: "form-control" %>
        </div>

        <br>

        <div class="actions">
          <%= submit_tag "Añadir", class: "btn btn-success" %>
        </div>
      <% end %>


      </div>
    </div>
	 </div>
		 </div>
			   </div>
</div>
	  </div>


